#play-pause {
  width: 24px;
  padding-left: 0;
}
input {
  padding: 0px!important;
}
.time-container {
  margin-left: 15px;
}
#video-controls {
  z-index: 2147483647;
  margin: 0!important;
  height: 40px;
}
#media-player {
  width: 51%;
  padding-top: 10px;
}
#mute {
  position: relative;
  width: 24px;
}
#video-duration {
  position: relative;
}
#volume-bar {
  position: relative;
  width: 10%;
  left: 2%;
}
#seek-bar {
  width: 45%
}
#full-screen {
  float: right;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
#media-video {
  z-index: 1;
}
#video-icon {
  display: none;
  position: absolute;
  z-index: 2;
  color: #ffcc99;
  opacity: 0.3;
  left: 25%;
  top: 18%
}
